<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <em>
    <h1 style = "text-align : center">GARDENING ASSIST</h1>
    </em>    

    <form action="crop" method="get">
        <button type="submit">Crop Recommendation</button>
    </form>

    <form action="fert" method="get">
        <button type="submit">Fertilizer Recommendation</button>
    </form>

    <form action="disease" method="get">
        <button type="submit">Disease Prediction</button>
    </form>
</body>
</html>